<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>jakehewitt</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>TableController</servlet-name>
        <servlet-class>com.controller.TableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookLoginController</servlet-name>
        <servlet-class>com.controller.FacebookLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameController</servlet-name>
        <servlet-class>com.controller.GameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameController</servlet-name>
        <url-pattern>/secured/Game</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableController</servlet-name>
        <url-pattern>/secured/Table</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookLoginController</servlet-name>
        <url-pattern>/fbLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/secured/logout</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <res-ref-name>jdbc/pokerSite</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <filter>
        <filter-name>UserRoleFilter</filter-name>
        <filter-class>com.security.UserRoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserRoleFilter</filter-name>
        <url-pattern>/secured/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.controller.SessionListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
</web-app>
